{% extends 'base.html.twig' %}

{% block title %}Edit Blog Post|MYBLOG{% endblock %}

{% block body %}
    <style>
        .form-container {
            width: 500px;
            min-width: fit-content;
            margin: 20px auto 0;
        }

        form {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 20px;
        }

        .input-container {
            display: flex;
            flex-direction: column;
        }

        .btn {
            all: unset;
            background-color: #059862;
            padding: 15px;
            border-radius: 5px;
            color: white;
            text-align: center;
            font-size: 20px;
            width: 100%;
            cursor: pointer;
        }

        h2 {
            color: #444;
        }

        ul {
            color: #B0413E;
            font-size: 18px;
        }

        .deleteBtn {
            all: unset;
            background-color: red;
            color: white;
            padding: 10px 20px;
            margin: 10px 0px;
            border-radius: 5px;
            cursor: pointer;
        }

        #blog_post_categories label {
            margin-right: 30px;
        }
    </style>

    <div class="form-container">
        <h2>Edit post.</h2>
        {{ form_start(form) }}
        <div class="input-container">
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
            {{ form_errors(form.title) }}
        </div>
        <div class="input-container">
            {{ form_label(form.body) }}
            {{ form_widget(form.body) }}
            {{ form_errors(form.body, {'attrs':{'class':'error'}}) }}
        </div>
        <div class="input-container">
            {{ form_label(form.locale) }}
            {{ form_widget(form.locale) }}
        </div>
        <div class="input-container">
            {{ form_label(form.categories) }}
            {{ form_widget(form.categories) }}
            {{ form_errors(form.categories) }}
        </div>
        <div class="input-container">
            {{ form_label(form.imageFilename) }}
            {{ form_widget(form.imageFilename, {'required':false}) }}
            {{ form_errors(form.imageFilename) }}
        </div>
        {{ form_row(form.save, {'attr': {'class': 'btn'}}) }}
        {{ form_end(form) }}
        <div {{ stimulus_controller('post', {blogPostId:post.id}) }}>
            <button {{ stimulus_action('post', 'deleteBlogPost') }} class="deleteBtn">Delete This Blog Post</button>
        </div>
        <a href="{{ path("show_blog_post", {"slug":post.slug}) }}">
            Return to post
        </a>
    </div>
{% endblock %}
