{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .container {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        h2 {
            font-size: xxx-large;
            text-align: center;
            margin-top: 10px;
            color: #444444;
        }

        img {
            border-radius: 20px;
            width: 400px;
            height: 300px;
        }

        article {
            font-size: xx-large;
            line-height: 3rem;
            text-align: center;
            max-width: 800px;
            margin-top: 20px;
        }

        form {
            width: 100%;

        }

        textarea {
            width: 100%;
            height: 150px;
        }

        #comments {
            width: 40%;
            margin: 0 auto;
        }

        .likeBtn {
            display: flex;
            gap: 5px;
            margin: 10px;
        }

        .likeBtn p {
            margin: 0;
        }

        .favoriteBtn {
            display: flex;
            gap: 5px;
            margin: 10px;
        }

        .favoriteBtn p {
            margin: 0;
        }

        .btn-container {
            display: flex;
            gap: 5px;
            font-size: 32px;
        }

        .deleteBtn {
            color: red;
            cursor: pointer;
            font-size: 20px;
            height: fit-content;
        }

        .comments-container {
            width: 75%;
            margin-bottom: 100px;
        }

        .comment-container {
            display: flex;
            gap: 20px;
            margin-bottom: 20px;
        }

        .comment-body {
            /*border: #444444 solid 2px;*/
            padding: 10px;
            flex-grow: 1;
            display: flex;
            justify-content: space-between;
            gap: 15px;
        }

        .avatar {
            width: 40px;
            height: 40px;
            justify-self: start;
        }

        .comment {
            flex-grow: 1;
        }

        .user-name {
            text-align: start;
            margin: 0px;
            font-size: 20px;
            color: black;
        }
    </style>
    <div class="container">
        <h2>{{ post.title }}</h2>

        <img src="{{ asset('uploads/images/' ~ post.imageFilename) }}" alt="Blog post image">

        <article>
            {{ post.body }}
        </article>

        <div class="btn-container">

            <div {{ stimulus_controller('post', {
                blogPostId:post.id
            }) }} class="likeBtn">
                {% if app.user is not null %}
                    {% if post in app.user.likedPosts %}
                        <i class="fa-solid fa-thumbs-up"></i>
                    {% elseif is_granted("ROLE_USER") or is_granted("ROLE_ADMIN") %}
                        <a {{ stimulus_action('post', 'upvote', 'click') }} style="cursor: pointer;">
                            <i class="fa-regular fa-thumbs-up"></i>
                        </a>
                    {% endif %}
                    <p>{{ post.likedByUsers|length }}</p>
                {% else %}
                    <p><i class="fa-regular fa-thumbs-up"></i>{{ post.likedByUsers|length }}</p>
                {% endif %}
            </div>

            <div {{ stimulus_controller('post', {
                blogPostId:post.id
            }) }} class="favoriteBtn">

                {% if app.user is not null and post in app.user.favoritePosts %}
                    <a {{ stimulus_action('post', 'unfavorite', 'click') }} style="cursor: pointer;">
                        <i class="fa-solid fa-heart"></i>
                    </a>
                {% elseif is_granted("ROLE_USER") or is_granted("ROLE_ADMIN") %}
                    <a {{ stimulus_action('post', 'favorite', 'click') }} style="cursor: pointer;">
                        <i class="fa-regular fa-heart"></i>
                    </a>
                {% endif %}

            </div>
        </div>

        {% if is_granted('ROLE_ADMIN') %}

            <a href="{{ path('edit_blog_post', {'id':post.id}) }}" style="margin: 20px 0px;">
                <button style="padding: 10px 20px;border-radius: 10px;cursor: pointer;font-size: 24px;">
                    Edit post
                </button>
            </a>

        {% endif %}

        {{ form(form) }}

        <div class="comments-container">
            <h3>Comments:</h3>
            <hr>
            {% for comment in comments %}
                <div {{ stimulus_controller('comment', {
                    commentId:comment.id
                }) }} class="comment-container">

                    <img src="{{ asset('/uploads/images/'~app.user.avatar) }}" alt="User avatar" class="avatar">
                    <div class="comment">
                        {# TODO: choose username from database #}
                        <p class="user-name">{{ comment.userId }}</p>
                        <div class="comment-body">
                            <p style="text-align: start;margin: 0px;flex-basis: 80%;">{{ comment.body }}</p>

                            {% if (app.user is not null and app.user.id == comment.userId) or is_granted("ROLE_ADMIN") %}
                                <a {{ stimulus_action('comment', 'deleteComment') }} class="deleteBtn">
                                    Delete Comment
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <hr style="color: #CCC;">
            {% endfor %}

        </div>
    </div>
{% endblock %}
