{% extends 'base.html.twig' %}

{% block title %}Edit Category|MYBLOG{% endblock %}

{% block body %}
    <style>
        form {
            width: fit-content;
            margin: 0 auto;
            margin-top: 50px;
        }

        form button {
            margin-top: 20px;
        }

        .deleteBtn {
            all: unset;
            background-color: red;
            color: white;
            padding: 10px 20px;
            margin: 10px 0px;
            border-radius: 5px;
            cursor: pointer;
        }

        .btn {
            all: unset;
            background-color: #059862;
            padding: 5px;
            border-radius: 5px;
            color: white;
            text-align: center;
            font-size: 12px;
            width: 50%;
            cursor: pointer;
            margin-top: 10px;
        }

        .container {
            width: fit-content;
            margin: 0 auto;
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        .input-container {
            display: flex;
            flex-direction: column;
        }

    </style>

    <div class="container">

        {{ form_start(form) }}
        <div class="input-container">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>
        {{ form_row(form.save, {'attr': {'class': 'btn'}}) }}
        {{ form_end(form) }}
        <div {{ stimulus_controller('category', {
            'categoryId':categoryId
        }) }}>
            <button {{ stimulus_action('category', 'deleteCategory') }} class="deleteBtn">Delete category</button>
        </div>

    </div>
{% endblock %}
