{% extends 'base.html.twig' %}

{% block title %}Homepage|MYBLOG{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
        }

        .input-container {
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
        }

        .container {
            display: grid;
            grid-template-columns: repeat(1, minmax(0, 1fr));
            column-gap: 2rem;
            row-gap: 8rem;

        }

        .navigation {
            font-size: 20px;
            margin: 50px 0px;
        }

        .sorted a {
            all: unset;
            border-radius: 5px;
            background-color: #059862;
            padding: 12px 18px;
            font-size: 20px;
            color: white;
            cursor: pointer;
        }

    </style>
    <div class="example-wrapper">
        <div class="count">
            <h3 style="color: #444">
                Total posts: {{ pagination.getTotalItemCount }}
            </h3>
            <div>
                <h3 class="sorted">
                    {{ knp_pagination_sortable(pagination, 'Sort', 'a.title') }}
                </h3>
                {{ form_start(form) }}
                <div class="input-container">

                    {{ form_label(form.title) }}
                    {{ form_widget(form.title) }}
                </div>
                {{ form_widget(form.save) }}
                {{ form_end(form) }}

            </div>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
        <div>
            <div class="container">
                {% for blogPost in pagination %}
                    {{ include('components/blogCard.html.twig') }}
                {% endfor %}
            </div>
        </div>

        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>

    </div>
{% endblock %}
