{% block body %}
    <style>
        header {
            background-color: #5eb5e0;
            padding: 20px;
        }

        body {
            margin: 0;
        }

        header h1 {
            text-align: center;
            color: #444;
            font-size: 46px;
        }

        .navBtn {
            all: unset;
        }

        button {
            all: unset;
            cursor: pointer;
            margin-right: 10px;
            border-radius: 5px;
            padding: 10px;
            color: #444444;
            border: #444444 solid 2px;
            font-size: 26px;
        }

        .dropdown {
            position: relative;
            display: inline-block;
            cursor: pointer;
            margin-right: 10px;
            border-radius: 5px;
            padding: 10px;
            color: #444444;
            border: #444444 solid 2px;
            font-size: 26px;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            padding: 12px 16px;
            z-index: 1;
            border-radius: 5px;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>

    <header>
        <h1>MY BLOG</h1>
        <a href="{{ path("homePage") }}" class="navBtn">
            <button>Home</button>
        </a>
        {% if app.user is null %}
            <a href="{{ path("registration") }}" class="navBtn">
                <button>Registration</button>
            </a>
            <a href="{{ path("login") }}" class="navBtn">
                <button>Login</button>
            </a>
        {% else %}
            <a href="{{ path("user_profile", {'userId':app.user.id}) }}" class="navBtn">
                <button>Profile</button>
            </a>
        {% endif %}

        {% if app.user is not null and is_granted("ROLE_ADMIN") %}
            <a href="{{ path("new_blog_post") }}" class="navBtn">
                <button>New Post</button>
            </a>
        {% endif %}

        {% if app.user is not null %}
            <a href="{{ path("logout") }}" class="navBtn">
                <button>Logout</button>
            </a>
        {% endif %}
        {% set currentPath = path(app.request.attributes.get('_route'),
            app.request.attributes.get('_route_params')) %}

        <div class="dropdown">
            {{ app.request.getLocale() }}
            <i class="fa-solid fa-caret-down"></i>
            <div class="dropdown-content">
                <a href="/hr{{ currentPath|slice(3, currentPath|length) }}" class="navBtn">Hrvatski</a>
                <a href="/en{{ currentPath|slice(3, currentPath|length) }}" class="navBtn">English</a>
                <a href="/es{{ currentPath|slice(3, currentPath|length) }}" class="navBtn">Español</a>
            </div>
        </div>
    </header>
{% endblock %}
