{% block body %}
    <style>
        header {background-color: #5eb5e0; padding: 20px;}
        body {margin: 0;}
        header h1, p {text-align: center; color: #444;}
    </style>

    <header>
        <h1>MY BLOG</h1>
        <a href="{{ path("homePage") }}">
            <button>Home</button>
        </a>
        {% if app.user is null %}
            <a href="{{ path("registration") }}">
                <button>Registration</button>
            </a>
            <a href="{{ path("login") }}">
                <button>Login</button>
            </a>
        {% endif %}
        {%if app.user is not null  %}
            <a href="{{ path("logout") }}">
                <button>Logout</button>
            </a>
        {% endif %}
        {% if app.user is not null and app.user.userRoles == 'ROLE_ADMIN' %}
            <a href="{{ path("new_blog_post") }}">
                <button>New Post</button>
            </a>
        {% endif %}
    </header>
{% endblock %}
