{% extends 'base.html.twig' %}

{% block title %}Your Profile|MYBLOG{% endblock %}

{% block body %}
    <style>
        .user-profile {
            display: flex;
            justify-content: center;
        }

        .user-profile-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .comments {
            display: flex;
            gap: 15px;
            margin: 20px;
            flex-basis: 20%;
        }

        .avatar {
            width: 50px;
            height: 50px;
            margin-right: 20px;
        }

        .input-container {
            display: flex;
            flex-direction: column;

        }

        .btn {
            all: unset;
            background-color: #059862;
            padding: 5px;
            border-radius: 5px;
            color: white;
            text-align: center;
            font-size: 12px;
            cursor: pointer;
            margin-top: 5px;
            margin-bottom: 20px;
            width: 40%;
        }

        .post-categories {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        .category {
            all: unset;
            border-radius: 20px;
            background-color: #5eb5e0;
            color: white;
            width: fit-content;
            padding: 10px 20px;
            cursor: pointer;
        }

        .container {
            display: grid;
            grid-template-columns: repeat(1, minmax(0, 1fr));
            column-gap: 2rem;
            row-gap: 8rem;

        }

        .comments-container {
            width: 75%;
            display: flex;
            flex-wrap: wrap;
        }

        form {
            width: 100%;
        }
    </style>

    <div class="user-profile">
        <div class="user-profile-container">
            <div>
                <h2>Welcome {{ app.user.username }}</h2>
                <img src="{{ asset('uploads/images/'~ app.user.avatar) }}" alt="User avatar" class="avatar">
                <a href="{{ path("edit_user_profile", {'userId':app.user.id}) }}">Edit profile</a>
            </div>
            {% if is_granted("ROLE_ADMIN") %}
                <div style="max-width: 60%;margin-top: 20px;">
                    {{ form_start(form) }}
                    <div class="input-container">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name) }}
                        {{ form_row(form.save, {'attr': {'class': 'btn'}}) }}
                    </div>
                    {{ form_end(form) }}

                    <div class="post-categories">
                        <p>Click to edit post categories here</p>
                        {% for category in categories %}
                            <a href="{{ path('edit_category', {'id':category.id}) }}"
                               class="category">{{ category.name }}</a>
                        {% endfor %}
                    </div>
                </div>


            {% endif %}
            <h3>Your comments: </h3>
            <div class="comments-container">
                {% for comment in app.user.comments %}
                    <div class="comments">
                        <textarea rows="5" cols="50" disabled>{{ comment.body }}</textarea>
                        <a href="{{ path('show_blog_post', {'id':comment.postId}) }}"
                           style="width: fit-content;height: fit-content;">See related post</a>
                    </div>
                {% endfor %}
            </div>

            <div>
                <h3>Your liked posts</h3>
                <div class="container">

                    {% for blogPost in app.user.likedPosts %}
                        {% include 'components/blogCard.html.twig' with {'blogPost':blogPost} %}
                    {% endfor %}
                </div>
            </div>
            <div>
                <h3>Your favorited posts</h3>
                <div class="container">

                    {% for blogPost in app.user.favoritePosts %}
                        {% include 'components/blogCard.html.twig' with {'blogPost':blogPost} %}
                    {% endfor %}
                </div>
            </div>

        </div>


    </div>
{% endblock %}
